html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

body {
	font-family: "Palatino", "Georgia", "Times", "serif"; 
	text-align: center;
	color:black;
}


a, a:link,a:visited,a:hover, a:active
{
	font-weight:bold;
	text-decoration:none;
}


a:link {color:black} /* unvisited link */
a:visited {color:#815738} /* visited link */
a:hover {color:#815738} /* mouse over link */
a:active {color:black} /* selected link */

h1 {
    font-family: "Impact", "Charcoal6", "sans-serif"; 
    font-size : 350%; 
	text-align : center;
	font-weight : normal; 
	text-transform : lowercase;
	margin: 0.5em;
	color : #52230b;
}

h1 em{
	font-style:normal;
	color : #c08156;
}

strong {
	font-weight: bold;
}

div.tweet_and_user {
	width: 500px;
	margin: 20px auto;
}



div.tweet {
	
	padding: 20px;
	background: #E2A986;
	
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-box-shadow: 3px 3px 1px #815738;
	-webkit-box-shadow: 3px 3px 1px #815738;
}

div.tweet p {
	float: left;
}

div.tweet p.text {
	width: 360px;
	text-align: left;  
}

div.tweet p.image {
	width: 80px;
	padding-right : 10px; 
}

div.tweet p.image img {
	border: 2px solid #52290b;
	background-image: url(../images/spinner_bubble.gif);
	background-repeat: no-repeat;
	background-position: center;
}

div.user {
	text-align: left;
	width:440px; 
	clear:both;
	padding-top:10px; 
}

div.votebuttons {
	width: 500px;
	margin:auto;
	border:1px red solid;
	
}
form
{
	border:1px blue solid;
	display:inline;
	float:left;
	
}

input.button {
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	height: 48px;
	width: 48px;
	border: none;
	cursor: pointer;
	
	}

input.love_button {
	background-image: url('../images/heart.png');
}

input.ignore_button {
	background-image: url('../images/down.png');
}
input.irrelevant_button {
	background-image: url('../images/down.png');
}

div.clear {
	border:1px red solid; 
	clear: both;
}
.bottomnav {
	font-size:70%; 
	
}

.bottomnav a:link {color:#5e2d09} /* unvisited link */
.bottomnav a:visited {color:#815738} /* visited link */
.bottomnav a:hover {color:#815738} /* mouse over link */
.bottomnav a:active {color:#5e2d09} /* selected link */