<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<title>{% block title %}parking{% endblock %}</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
{% block extrascript %}{% endblock %}

<link rel="icon" type="image/vnd.microsoft.icon" href="/static_media/images/favicon.ico" />
<link rel="stylesheet" href="/static_media/css/main.css" type="text/css" media="all" />
</head>
<body>
<h1><a href="/" title="Homepage">I<em>Will</em>Pay<em>Your</em>Parking<em>Ticket</em></a></h1>
{% block body %}{% endblock %}
<p class="bottomnav"><a href="{% url help-page %}" title="What is this?">What is this?</a> | <a href="http://www.twitter.com/payyourticket">Follow us on Twitter</a>
</p>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-809606-6");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>