{% extends "parkingtickets/base.html" %}

{% block title %}I Will Pay Your Parking Ticket - Help{% endblock %}

{% block body %}

<div class="bodytext">

<h2>Excuse me, but, er, what the hell is this?</h2>

<p>
You know sometimes the little things can really ruin your day. Not major life changing events, more just little niggles that wear you down. 
</p>
<p>
Like spilling coffee down your shirt. Like stubbing your toe. <strong>Or getting a parking ticket</strong>. 
</p>

<p align="center">
<img src="http://farm3.static.flickr.com/2445/3691396649_4bf7819f94.jpg" />
</p>
<p>
This is a photo of the speakers from <a href="http://flashbelt.com">FlashBelt</a>, that's me there in the middle. While we were posing for this photo we noticed that the nearest car had a parking ticket.</p>

<h2> What's that got to do with anything?</h2>

<p>
We were all in very high spirits and an idea struck us. Why not pay the parking ticket? There were 50 of us so we'd only have to put a dollar in each. 
</p>
<p>
I rallied round the speakers and quickly raised enough cash (including 5 euros and 5 British pounds) and put the money under the windscreen wiper with the ticket. 
</p>
<p align="center">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="437" height="266" id="viddler_d8da04f0"><param name="movie" value="http://www.viddler.com/simple/d8da04f0/" /><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><embed src="http://www.viddler.com/simple/d8da04f0/" width="437" height="266" type="application/x-shockwave-flash" allowScriptAccess="always" allowFullScreen="true" name="viddler_d8da04f0"></embed></object>
</p>
<p>
What ridiculous randomness; the initial disappointment of finding the ticket, followed by the confusion of seeing all of this money, with no explanation and no possible logical reason for being there. Wouldn't that cheer you up a little? 
</p>
<p>
The next day, I searched twitter for the term "parking ticket" to see if anyone had tweeted about this random act of generosity. Sadly I found no reference to what had happened. But what I did find was hundreds and hundreds of people who were all having a slightly shitty day. 
</p>
<p>
So I got together with my good friend Jamie and set up this website. I can't solve all the big problems in the world. But maybe, just maybe I can cheer someone up in some really small way with a pointless act of generosity. 
</p>
<h2>
So what can I do? 
</h2>
<p>
Go to the <a href="http://www.iwillpayyourparkingticket.com">home page</a>. You'll be shown a tweet from someone who has mentioned the term parking ticket. If they've got a parking ticket, and you feel sorry for them, show them some love by clicking on a heart. 
</p>
<p>
If they're just randomly mentioning the words &quot;parking ticket&quot; then give them no love, they'll soon be filtered out of the system. 
</p>
<p>
Every month, I'll find the highest rated tweeter and then I'll pay their parking ticket for them.* I may even @ reply some of the highest rated twitterers to let them know that you care. 
</p>
<h2>
You'll pay their ticket? Are you some crazy rich nutter?
</h2>
<p>
No sadly not. Well not rich, but maybe crazy and a nutter. But I'm thinking once a month I can afford to pay someone's ticket. And if not, well maybe I'll stick a paypal donate button or some ads on here to help towards the costs. 
</p>
<h2>
You are mad but I kinda like this idea. What can I do to help? 
</h2>
<p>Please just use the site and vote for as many tweets as you can. Thank you!</p>
<p> * I reserve the right to filter out tweets that are obviously being gamed. </p>
<p>This website was created by <a href="http://sebleedelisle.com">Seb Lee-Delisle</a> and <a href="http://j4mie.org">Jamie Matthews</a></p>

</div>

{% endblock %}