{% extends "parkingtickets/base.html" %}

{% block title %}Parking Tickets{% endblock %}

{% block extrascript %}
<script type="text/javascript">
$(document).ready(function(){
	
});
</script>
{% endblock %}

{% block body %}
<h1>Parking tickets!</h1>
<h2>A random tweet about parking tickets:</h2>
<p>{{ tweet.text }} (<a href="{{ tweet.url }}">link</a>)</p>
<p>From user: <a href="{{ tweet.user_url }}">{{ tweet.user }}</a></p>
<p>Votes: {{ vote_count }}</p>

<form method="post" action="/vote/love/{{ tweet.id }}">
<input type="submit" name="submit" value="Send love" />
</form>

<form method="post" action="/vote/irrelevant/{{ tweet.id }}">
<input type="submit" name="submit" value="Irrelevant" />
</form>

{% endblock %}